.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap: 3rem;
}
.card img{
    width: 100%;
    border-radius: 2rem;
    opacity: 1;
}
 a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
.card h4{
    text-align: center;
    padding: 1rem;
    color:#404258;
}