
.detail{
    /* margin-top: 5rem;
    margin-bottom: 5rem; */
    display: flex;
    gap: 3rem;

}

.active{
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
}
.detail h2{
    margin-bottom: 1rem;
}
.detail li{
    font-size: 1.2rem;
    line-height: 2.5rem;
}
.detail ul{
    margin-top: 2rem;
}
button{
    padding: 1rem 2rem;
    color:#313131;
    background: white;
    border: 2px solid black;
    margin-right: 2rem;
    font-weight: 600;
    cursor: pointer;
}
.buttons{
    display: flex;
    margin-bottom: 30px;
}
.info{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.text a{
    color: #313131;
    text-decoration: underline;
}
.info .list{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:1100px) {
    .detail{
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
   button{
    margin-top: 3rem;
   }
   .img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .text{
    padding: 0 100px;
   }
   .info .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
   }
}